<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h1>Welcome {{user.first_name}}!</h1>
    <div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody >
                {% for job in all_jobs %}
                <tr>
                    <td>{{job.title}}</td>
                    <td>{{job.network}}</td>
                    <td>{{created_at.strftime('%Y-%m-%d')}}</td>
                    <td>
                        <a href="/job/{{job.id}}" class="btn">View</a>
                        {% if job.user.id == session.user_id %}
                        <a href="/job/edit/{{job.id}}" class="btn"> Edit</a>
                        <a href="/job/remove/{{job.id}}" class="btn"> Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/job/new">Add New</a>
    </div>
    </main>
    <footer>

    </footer>
</body>
</html>