<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Log in and registration</title>
</head>
<body>
    <body>
        <header>
            <nav>
                {% block menu %} {% include 'menu.html' %} {% endblock menu %}
            </nav>
        </header>
        <main>
    <h1>House Chore List</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    <form action="/register/user" method="post" name="register">
        <h2>Register</h2>
        <label>First Name:
            <input type="text" name="first_name">
        </label>
        <label>Last Name:
            <input type="text" name="last_name">
        </label>
        <label>Email:
            <input type="text" name="email">
        </label>
        <label>Password:
            <input type="password" name="password">
        </label>
        <label>Confirm Password:
            <input type="password" name="confirm_password">
        </label>
        <input type="submit" value="Register" class="btn">
    </form>
    <form action="/login" method="post" name="login">
        <h2>Login</h2>
        <label>Email:
            <input type="text" name="email">
        </label>
        <label for="password">Password:
            <input type="password" name="password">
        </label>
        <input type="submit" value="Login" class="btn">
    </form>
        </main>
        <footer>
    
        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</body>
</html>