<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        {% block menu %} {% include 'menu.html' %} {% endblock menu %}
    </nav>
    <h1>{{job.title}}</h1>
    <h2>Location: {{job.location}}</h2>
    <h2>Description:</h2>
    <p>{job.description}}</p>
        <h3>Posted On: {{job.created_at.strftime('%Y-%m-%d')}}</h3>
</body>
</html>